<a href="/add-product">Add Product</a>

<form action="/search" method="get">
    <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by title" />
    <button type="submit">Search</button>
</form>

<br>

<a href="/sort?field=title&direction=asc">Sort Title Asc</a> |
<a href="/sort?field=title&direction=desc">Sort Title Desc</a> |
<a href="/sort?field=price&direction=asc">Sort Price Asc</a> |
<a href="/sort?field=price&direction=desc">Sort Price Desc</a>

<br><br>
<table border="1">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Action</th>
</tr>
<tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.title}"></td>
    <td th:text="${product.price}"></td>
    <td>
        <a th:href="@{/edit-product/{id}(id=${product.id})}">Edit</a>
        |
        <a th:href="@{/delete-product/{id}(id=${product.id})}">Delete</a>
    </td>
</tr>
</table>